<h1 class="title"> Hello {{username}} ,</h1>
<br>

<div class="container">
  <div class="row">
    <div class="col-md-4">
        <div class="panel panel-primary" id="result_panel">
           <div class="panel-heading"><h3 class="header">Result List</h3></div>
             <div class="panel-body">
                 <ul class="list-group">
                   <div *ngFor="let place of likedPlaces">
                     <li class="list-group-item">
                      <div id="qr" style="display:inline-block; min-width:5.2cm; height:3.8cm; align: center;vertical-align: middle;" >

                        <div class="image"> <img src="{{place.photo}}"
                      style ="border-radius: 20px;height: 160px;width:230px;">
                    </div>
                      <!-- style ="border: radius 1px" -->



                      </div>
                      <div style="display:inline-block; vertical-align:top;">
                        <!-- <a class="abutton" (click)="deletePlace(place.id)"><i class="fa fa-trash-o delete" aria-hidden="true"></i></a> -->
                        <br>
                        <strong>{{place.name}}</strong>
                        <!-- <a class="abutton"  *ngIf="linkPlace(place.name)" href="{{placeurl}}">Link to {{ place.name}}</a> -->
                      <br>
                     {{place.goal}}
                        <br>
                        <!-- <a class="abutton" *ngIf="!ifUserSaveThisPlace(place.id)" (click)="onSavePlaceClicked(place)" aria-disabled="true"><i class="fa fa-star-o save" aria-hidden="true"></i></a>
                        <a class="abutton" *ngIf="ifUserSaveThisPlace(place.id)" (click)="onUnSavePlaceClicked(place)"><i class="fa fa-star unsave" aria-hidden="true"></i></a> -->
                        <strong>Likes:</strong> {{place.count_of_likes}}
                        <br>
                        <a class="abutton" *ngIf="!checkIfUserLikeThePlace(place.id)" (click)="LikeClicked(place,infoWindow)" aria-disabled="true"><i class="fa fa-thumbs-up like" aria-hidden="true"></i> You didn't like this place yet.</a>
                        <a class="abutton"  *ngIf="checkIfUserLikeThePlace(place.id)" (click)="UnLikeClicked(place,infoWindow)"><i class="fa fa-thumbs-o-down unlike" aria-hidden="true"></i> You already liked this place!</a>
                      </div>
                      </li>
                   </div>
                 </ul>
             </div>
        </div>
    </div>

    <div class="col-md-4">
  <!-- Map -->
  <div *ngIf="ifuserlikedplaces">
    <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
      <!-- *ngFor="let dir of directions" -->
      <agm-direction *ngFor="let dir of directions"
        [origin]="dir.origin"
        [destination]="dir.destination"
        [waypoints]="waypoints"
        >
      </agm-direction>
      <div *ngFor="let place of likedPlaces">
        <agm-marker *ngIf="checkPlaceGoal(place)"
          [latitude]="place.lat"
          [longitude]="place.lng"
          (markerClick)="clickedMarker(infoWindow)"
          [iconUrl] = colorurl
          >
        <agm-info-window #infoWindow>
              {{ place.name }}
              <br>
              {{ place.goal }}
              <br>
              <a class="abutton"  *ngIf="checkIfUserLikeThePlace(place.id)" (click)="UnLikeClicked(place,infoWindow)"><i class="fa fa-thumbs-o-down unlike" aria-hidden="true"></i></a>
        </agm-info-window>
        </agm-marker>
      </div>
    </agm-map>



    <!-- <agm-map [latitude]="latitude" [zoom]="zoom" [longitude]="longitude">
      <div *ngFor="let place of likedPlaces">
        <agm-marker *ngIf="checkPlaceGoal(place)"
          [latitude]="place.lat"
          [longitude]="place.lng"
          (markerClick)="clickedMarker(infoWindow)"
          [iconUrl] = colorurl
          >
        <agm-info-window #infoWindow>
              {{ place.name }}
              <br>
              {{ place.goal }}
              <br>
              <a class="abutton"  *ngIf="checkIfUserLikeThePlace(place.id)" (click)="UnLikeClicked(place,infoWindow)"><i class="fa fa-thumbs-o-down unlike" aria-hidden="true"></i></a>
        </agm-info-window>
        </agm-marker>
      </div>
    </agm-map> -->
  </div>
  </div>
  </div>
</div>
  <div *ngIf="!ifuserlikedplaces">
    <span>you didn't like any place yet.</span>
  </div>

  <br>
  <button mat-raised-button color="warn" class="btn-update">Update my account</button>
  <br>



