<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<mat-spinner *ngIf="isLoading"></mat-spinner>
<br>
<a routerLink="/placecreate">Add New Place <i class="fa fa-plus" aria-hidden="true"></i></a>
<br>

<mat-accordion multi="true" *ngIf="places.length > 0 && !isLoading">
  <div class="container-fluid">
    <table class="table tablestyle">
      <ng-container *ngFor="let place of places">
      <tr>
        <td>
          <!-- <div *ngFor="let place of places"> -->
            <div class="column">
              <div class="card">
                <div class="tab">
                  <img src="{{place.photo}}" class="imagestyle">
                  </div>
                  <br>
                  <div *ngIf="linkPlace(place.name)" style="display:inline-block; vertical-align:top;">
                    <strong>{{place.name}}</strong><a class="abutton" [href]="placeurl" target="_blank"><i class="fa fa-search search" aria-hidden="true"></i></a>

                    <br>
                    <br>
                    <span>{{place.goal}}</span>
                    <br>
                    <div *ngIf="userIsAuthenticated">
                    <a class="abutton" *ngIf="!ifUserSaveThisPlace(place.id)" (click)="onSavePlaceClicked(place)" aria-hidden="true"><i class="fa fa-star-o save" aria-hidden="true"></i></a>
                    <a class="abutton" *ngIf="ifUserSaveThisPlace(place.id)" (click)="onUnSavePlaceClicked(place)"><i class="fa fa-star unsave" aria-hidden="true"></i></a>
                    <br>
                    <br>
                    <span><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> {{place.count_of_place_likes}}  </span>
                    <span><i class="fa fa-thumbs-o-down" aria-hidden="true"></i> {{place.count_of_place_unlikes}}</span>
                  </div>
                </div>
            </div>
            </div>
          <!-- </div> -->
          </td>
      </tr>
      <tr *ngIf="userIsAuthenticated && userId === place.creator">
        <td>
          <button mat-button color="warn" (click)="onDelete(place.id)">DELETE</button>
        </td>
      </tr>
      </ng-container>
    </table>
</div>

</mat-accordion>
<mat-paginator [length]="totalPlaces" [pageSize]="placesPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)"
  *ngIf="places.length > 0"></mat-paginator>
<p class="info-text mat-body-1" *ngIf="places.length <= 0 && !isLoading">No Places added yet!</p>
