<div>
<agm-map [latitude]="lat" [zoom]="zoom" [longitude]="lng">
  <agm-marker *ngFor="let place of places"
  [latitude]="place.lat"
  [longitude]="place.lng"
  (markerClick)="clickedMarker(infoWindow)">

  <agm-info-window #infoWindow>
      Place Name: {{place.name}}
      <br>
      Place Goal: {{place.goal}}
      <br>
      <br>
      <a class="abutton" *ngIf="!checkIfUserLikeThePlace(place.id)" (click)="LikeClicked(place.id)"><i class="fa fa-thumbs-up like" aria-hidden="true"></i>  </a>
      <a class="abutton"  *ngIf="checkIfUserLikeThePlace(place.id)" (click)="UnLikeClicked(place.id)"><i class="fa fa-thumbs-o-down unlike" aria-hidden="true"></i></a>
  </agm-info-window>

  </agm-marker>
</agm-map>
</div>

<br>

<button mat-raised-button color="accent" *ngIf="!isLoading" (click)="SignUp()">Sign Up</button>

