<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSignup(signupForm)" #signupForm="ngForm" *ngIf="!isLoading">
    <!-- <mat-form-field>
      <input matInput name="name" ngModel type="name" placeholder="Full Name" #nameInput="ngModel" required name="">
      <mat-error *ngIf="emailInput.invalid">Please enter a valid name.</mat-error>
    </mat-form-field> -->

    <mat-form-field>
      <input matInput name="email" ngModel type="email" placeholder="E-Mail" #emailInput="ngModel" required email>
      <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input type="password" name="password" ngModel matInput placeholder="Password" #passwordInput="ngModel" required>
      <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput name="firstName" ngModel type="firstName" placeholder="First Name" #firstNameInput="ngModel" required>
      <mat-error *ngIf="firstNameInput.invalid">Please enter your first name.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput name="lastName" ngModel type="lastName" placeholder="Last Name" #lastNameInput="ngModel" required>
      <mat-error *ngIf="lastNameInput.invalid">Please enter your last name.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput name="age" ngModel type="age" placeholder="Age" #ageInput="ngModel" required>
      <mat-error *ngIf="ageInput.invalid">Please enter your age.</mat-error>
    </mat-form-field>

    <!-- <mat-form-field>
      <mat-label>Select Your Gender</mat-label>
      <mat-select ngModel="gender">
        <mat-option *ngFor="let gender of genders" [value]="gender.value">
          {{ gender.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field> -->


    <mat-form-field>
      <input matInput name="gender" ngModel type="gender" placeholder="Gender" #genderInput="ngModel" required>
      <mat-error *ngIf="genderInput.invalid">Please enter your gender.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput name="hobbies" ngModel type="hobbies" placeholder="Your Hobbies" #hobbiesInput="ngModel" required>
      <mat-error *ngIf="hobbiesInput.invalid">Please enter your hobbies.</mat-error>
    </mat-form-field>


    <button mat-raised-button color="accent" type="submit" *ngIf="!isLoading">Signup</button>
  </form>
</mat-card>
