mat-form-field {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 200px;
}

.example-button-row {
  display: table-cell;
  width: 490px;
}

.abutton {
  display: block;
  width: 300px;
  height: 30px;
  background: #4E9CAF;
  padding: 4px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: medium;
}
.mat-form-field {
  width: 100%;
  display: block;
  /* position: relative; */
  text-align: left;
}

.mat-card{
  left: 32%;
  width:35%;
  /* box-shadow: 100%; */
  /* -webkit-filter: drop-shadow(2px 2px 2px #222); */
  /* background: aliceblue; */
  background: white;
/* background-color: #daf9ff; */
}
body{
  /* background-color: #4E9CAF; */
}

.centerimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 90%;
}