<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<mat-toolbar>
  <span>
    <a routerLink="/"><img src="assets/images/AMIGO.png" width="180" alt="image"></a>
    <!-- <a routerLink="/" class="title"><i class="fa fa-globe" aria-hidden="true" style="color: rgb(85, 221, 226);"></i> A M I G O </a> -->
  </span>
  <span class="spacer">
  <ul>
    <!-- <li>
      <a mat-button routerLink="/"> REVIEWS </a>
    </li> -->
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/top10places" routerLinkActive="mat-primary"> TOP-10 </a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/placelist" routerLinkActive="mat-primary"> PLACES </a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/findmeplace" routerLinkActive="mat-primary"> FIND ME PLACE! </a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/map" routerLinkActive="mat-primary"> MAP </a>
    </li>
  </ul>
  </span>
  <span class="spacer"></span>
  <ul>
    <!-- <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/placecreate" routerLinkActive="mat-accent"> Add Place </a>
    </li> -->
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/auth/login" routerLinkActive="mat-primary"><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/auth/signup" routerLinkActive="mat-primary"><i class="fa fa-user-plus" aria-hidden="true"></i> Signup</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/auth/myaccount" routerLinkActive="mat-primary"><i class="fa fa-user-circle-o" aria-hidden="true"></i> My Account</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <button mat-button (click)="onLogout()"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</button>
    </li>
  </ul>

</mat-toolbar>