ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  display: flex;
}

.spacer {
  flex: 1 1 auto;
}

.centerspacer {
  flex: center;
}

.title {
  color: rgb(85, 221, 226);
  font-weight: bold;
}

.mat-toolbar{
  background: white;
  color: rgba(0,0,0,.87)
}

.but {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  border-color: black;
  border-radius: 10px;
}

.active {
  color: #5ce1e6;
}
