section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 20px;
  margin-left: 8px;
  min-width: 120px;
}

.goal-button-row {
  display: table-cell;
  width: 100%;
  align-items: center;
}

.goal-button-row .mat-button-base {
  margin: 8px 80px 10px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

.btngoal {
  font-size: large;
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 10px;
  font-weight: bold;
  font-variant-position: inherit;
}

.btngoal1 {
  font-size: large;
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 10px;
  font-weight: bold;
  font-variant-position: inherit;
}

.btngoal2 {
  font-size: large;
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 10px;
  font-weight: bold;
  font-variant-position: inherit;
}

.btngoal:hover {
  color:white;
  background-color: mediumaquamarine;
}

.btngoal:focus {
  color:white;
  background-color: mediumaquamarine;
}

.btngoal1:hover {
  color:white;
  background-color: coral;
}

.btngoal2:hover {
  color:white;
  background-color: cornflowerblue
}

.btngoal1:focus {
  color:white;
  background-color: coral;
}

.btngoal2:focus {
  color:white;
  background-color: cornflowerblue
}

.homeImg {
    margin: auto;
    width: 80%;
    border: 3px solid transparent;
    padding: 10px;
}

.back{
background-color:rgb(85, 221, 226) ;
    border-radius: 12px;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 128px;
    padding: 72px 0 108px;
    position: relative;
    box-sizing: border-box;
}
.pic {
  /* background-image:url("/../..assets/images/people.jpg"); */
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;
  position: absolute;
  left: 0;
}

  .inPic {
    /* -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: var(--_2lVoDyKM);
    /* display: -webkit-flex;
    display: -ms-flexbox; */
    display: flex;
    width: 100%;
  }

  ._3ltpazuV {
    max-width: calc(100vw - var(--_UgotPsXG) - 48px - (100vw - 48px - var(--_2lVoDyKM))/2 - 16px);
}

    ._picText {
      font-size: 36px;
      line-height: 40px;
      color: var(--primaryText);
      height: 80px;
      /* display: -webkit-flex;
      display: -ms-flexbox; */
      display: flex;
      /* -webkit-align-items: flex-end;
      -ms-flex-align: end; */
      align-items: flex-end;
      margin: 8px 0 24px;
      font-weight: 900;
  }

  .btngoalrelax {
    font-size: large;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 10px;
    font-weight: bold;
    font-variant-position: inherit;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    height: fit-content;
  }

  .btngoalrelax:hover {
    color:white;
    background-color: palevioletred

  }

  .btngoalrelax:focus {
    color:white;
    background-color: palevioletred
  }

  .btngoalshop {
    font-size: large;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 10px;
    font-weight: bold;
    font-variant-position: inherit;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    height: fit-content;
  }

  .btngoalshop:hover {
    color:white;
    background-color: coral;

  }

  .btngoalshop:focus {
    color:white;
    background-color: coral
  }

  .btngoalsport {
    font-size: large;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 10px;
    font-weight: bold;
    font-variant-position: inherit;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    height: fit-content;
  }

  .btngoalsport:hover {
    color:white;
    background-color: rgb(239, 243, 28);
  }

  .btngoalsport:focus {
    color:white;
    background-color: rgb(239, 243, 28);
  }

  .btngoalnight {
    font-size: large;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 10px;
    font-weight: bold;
    font-variant-position: inherit;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    height: fit-content;
  }

  .btngoalnight:hover {
    color:white;
    background-color: orange;
  }

  .btngoalnight:focus
   {
    color:white;
    background-color: orange;
  }

  .btngoalculture {
    font-size: large;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 10px;
    font-weight: bold;
    font-variant-position: inherit;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    height: fit-content;
  }

  .btngoalculture:hover {
    color:white;
    background-color: rgb(98, 27, 146);
  }

  .btngoalculture:focus {
    color:white;
    background-color: rgb(98, 27, 146);
  }

  .btngoalattraction {
    font-size: large;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 10px;
    font-weight: bold;
    font-variant-position: inherit;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    height: fit-content;
  }

  .btngoalattraction:hover {
    color:white;
    background-color: forestgreen;
  }

  .btngoalattraction:focus {
    color:white;
    background-color: forestgreen;
  }

  .btngoalall {
    font-size: large;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 10px;
    font-weight: bold;
    font-variant-position: inherit;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    height: fit-content;
  }

  .btngoalall:hover {
    color:white;
    background-color: black;
  }

  .btngoalall:focus {
    color:white;
    background-color: black;
  }

