<!-- <div class="goal-button-row">
  <button mat-stroked-button class="btngoalattraction" (click)="filtering('Attractions & Leisure')"><i class="fa fa-bicycle" aria-hidden="true"></i> Attractions & Leisure</button>
  <button mat-stroked-button class="btngoalsport"(click)="filtering('Sport & Extreme')"><i class="fa fa-futbol-o" aria-hidden="true"></i> Sport & Extreme</button>
  <button mat-stroked-button class="btngoalnight" (click)="filtering('Night Life')"><i class="fa fa-glass" aria-hidden="true"></i> Night Life</button>
  <button mat-stroked-button class="btngoalculture" (click)="filtering('Culture & Historical Places')"><i class="fa fa-university" aria-hidden="true"></i> Culture & Historical Places</button>
  <button mat-stroked-button class="btngoalrelax"(click)="filtering('Relaxing')" ><i class="fa fa-bed" aria-hidden="true"></i> Relaxing</button>
  <button mat-stroked-button class="btngoalshop" (click)="filtering('Shopping')"><i class="fa fa-shopping-bag" aria-hidden="true"></i> Shopping</button>
</div>
<br> -->
<!-- <mat-divider></mat-divider> -->

<div class="back" *ngIf="!goalclicked">
  <div class="pic"><img src="assets/images/people6.png"></div>
  <div class="inPic">
</div>
</div>

<!-- <div *ngIf="goalclicked">
  <mat-spinner *ngIf="isLoading"></mat-spinner>

<mat-accordion multi="true" *ngIf="places.length > 0 && !isLoading">

  <mat-expansion-panel *ngFor="let place of places">
    <mat-expansion-panel-header>
     <strong> {{ place.name }}</strong>
    </mat-expansion-panel-header>
    <p>lat : {{ place.lat }}</p>
    <p>lng : {{ place.lng }}</p>
    <p>likes : {{ place.count_of_likes }}</p>

    <div *ngIf="setMapValues(place)">
      <agm-map [latitude]="latitude" [zoom]="zoom" [longitude]="longitude">
          <agm-marker
          [latitude]="place.lat"
          [longitude]="place.lng"
          (markerClick)="clickedMarker(infoWindow)">
            <agm-info-window #infoWindow>
              <strong>Place Name:</strong> {{place.name}}
              <br>
              <strong> Place Goal: </strong> {{place.goal}}
              <br>
              <strong> Stars:</strong> {{place.count_of_likes}}
              <br>

            </agm-info-window>
          </agm-marker>
    </agm-map>
  </div>

  </mat-expansion-panel>

</mat-accordion>
<mat-paginator [length]="totalPlaces" [pageSize]="placesPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)"
  *ngIf="places.length > 0"></mat-paginator>
<p class="info-text mat-body-1" *ngIf="places.length <= 0 && !isLoading">No Places added yet!</p>
</div>

 -->
