      <div class="goal-button-row">
      <button mat-stroked-button class="btngoal" routerLink="/placelist">Attractions & Leisure</button>
      <button mat-stroked-button class="btngoal1" routerLink="/placelist"><i class="fa fa-futbol-o" aria-hidden="true"></i> Sport & Extreme</button>
      <button mat-stroked-button class="btngoal2" routerLink="/placelist"><i class="fa fa-glass" aria-hidden="true"></i> Night Life</button>
      <button mat-stroked-button class="btngoal" routerLink="/placelist">Culture & Historical Places</button>
      <button mat-stroked-button class="btngoal1"routerLink="/placelist" >Relaxing</button>
      <button mat-stroked-button class="btngoal2" routerLink="/placelist"><i class="fa fa-shopping-bag" aria-hidden="true"></i> Shopping</button>
      <div>
  <br>
  <mat-divider></mat-divider>



