
.header {
  font-family: cursive;
  font-weight: bold;
}

agm-map
{
  height: 600px;
  width: 1000px;
  /* position: absolute;
  right: 10px; */
}

.liked {
  color: red;
  font-size: 10px;
  position: center;
}

.redHeart {
  color: red;
}

.fa {
  font-size: 20px;
  cursor: pointer;
  user-select: none;
}
.search{
  font-size: 28px;
  right: 3px;
  bottom: auto;
  position: absolute;
  color:gray;
}

.fa:hover {
  color: gray;
}

mat-button-toggle-group {
  margin-left: 12px;
}

.like {
  font-size: 28px;
  color: red;
}

.unlike {
  font-size: 28px;
  color: black;
}

.delete {
  size: 3%;
  font-size: 28px;
  right: 3px;
  bottom: auto;
  position: absolute;
  /* margin-left: ; */
 /* padding-left: ; */

  /* position: relative; */
}

.save {
  font-size: 28px;
  color:rgb(240, 222, 59);
  right: 3px;
  position: absolute;
}

.unsave {
  font-size: 28px;
  color:rgb(240, 222, 59);
  right: 3px;
  position: absolute;
}

.select {
  font-weight: bold;
  color: red;
}
.list-group{
  max-height: 550px;
  width: 520px;
  margin-bottom: 10px;
  overflow:auto;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  right: 30px;


  /* display:inline-block;
  margin-right:10px; */

}
.list-group-item{
  height: fit-content;
  /* height: 200px; */
      width: 500px;
}
/* * {
  box-sizing: border-box;
}


* {
  box-sizing: border-box;
} */


/* .column {

  float: left;
  width: 30%;
  height: 150px;
  padding: 0 10px;
left: 20px;

}

.row {
  margin: 0 -5px;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}


@media screen and (max-width: 600px) {
  .column {
    float: left;
    width: 50%;
    display: block;
    margin-bottom: 20px;
    position: absolute;
    left: 10%;
  }
}


.card {

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;

}
 */

 section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 20px;
  margin-left: 8px;
  min-width: 120px;
}

.goal-button-row {
  display: table-cell;
  width: 100%;
  margin-left: 50px;
  align-items: center;
}

.goal-button-row .mat-button-base {
  margin: 8px 60px 10px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}


.btn {
  position: relative;
  font-size: 50px;
  color: black;
  background-color: rgb(198, 255, 198);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 10px;
  font-weight: bold;
  font-variant-position: initial;
  font-size-adjust: inherit;
  position: relative;
  top: 50%;
  left: 10%;
  width: 80%;
  height: 100px;
}

.btn1 {
  position: relative;
  font-size: 20px;
  color: black;
  background-color: rgb(130, 128, 247);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 10px;
  font-weight: bold;
  font-variant-position: initial;
  font-size-adjust: inherit;
  position: relative;
  width: 100%;
  height: 40px;
}

.btngoal1 {
  font-size: large;
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 10px;
  font-weight: bold;
  font-variant-position: inherit;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  height: fit-content;

}

.btngoal2 {
  font-size: large;
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 10px;
  font-weight: bold;
  font-variant-position: inherit;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  height: fit-content;
}

.btngoal3 {
  font-size: large;
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 10px;
  font-weight: bold;
  font-variant-position: inherit;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  height: fit-content;
}

.btn:hover {
  color:white;
  background-color: lightsalmon;
}

.btn1:hover {
  color:white;
  background-color: lightsalmon;
}

.btngoal1:hover {
  color:white;
  background-color: mediumaquamarine

}

.btngoal2:hover {
  color:white;
  background-color: rgb(233, 243, 95)
}

.btngoal3:hover {
  color:white;
  background-color: coral;
}
.btngoal4:hover {
  color:white;
  background-color: rgb(153, 69, 231)
}
.btngoal5:hover {
  color:white;
  background-color: rgb(236, 61, 207)
}
.btngoal6:hover {
  color:white;
  background-color: rgb(245, 147, 68)
}


