.header {
  font-family: cursive;
  font-weight: bold;
}

agm-map
{
  height: 600px;
  width: 1000px;
  /* position: absolute;
  right: 10px; */
}

.liked {
  color: red;
  font-size: 10px;
  position: center;
}

.redHeart {
  color: red;
}

.fa {
  font-size: 30px;
  cursor: pointer;
  user-select: none;
}

.fa:hover {
  color: darkblue;
}

mat-button-toggle-group {
  margin-left: 12px;
}

.like {
  color: red;
}

.unlike {
  color: black;
}

.select {
  font-weight: bold;
  color: red;
}
.list-group{
  max-height: 550px;
  width: 500px;
  margin-bottom: 10px;
  overflow:auto;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  right: 80px;


  /* display:inline-block;
  margin-right:10px; */

}
.list-group-item{
  height: 150px;
  width: 475px;
}
/* * {
  box-sizing: border-box;
}


* {
  box-sizing: border-box;
} */


/* .column {

  float: left;
  width: 30%;
  height: 150px;
  padding: 0 10px;
left: 20px;

}

.row {
  margin: 0 -5px;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}


@media screen and (max-width: 600px) {
  .column {
    float: left;
    width: 50%;
    display: block;
    margin-bottom: 20px;
    position: absolute;
    left: 10%;
  }
}


.card {

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;

}
 */
