<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<img src="assets/images/topTen.png" alt="image" width="20%" class="centerimg"/>
<br>
<br>



<mat-spinner *ngIf="isLoading"></mat-spinner>

<mat-accordion multi="true" *ngIf="places.length > 0 && !isLoading">
  <div class="container-fluid">
    <table class="table tablestyle">
      <ng-container *ngFor="let place of places">
      <tr>
        <td>
          <!-- <div *ngFor="let place of places"> -->
            <div class="column">
              <div class="card">
                <div class="tab">
                  <img src="{{place.photo}}" class="imagestyle">
                  </div>
                  <br>
                  <div *ngIf="linkPlace(place.name)" style="display:inline-block; vertical-align:top;">
                    <strong>{{place.name}}</strong><a class="abutton" [href]="placeurl" target="_blank"><i class="fa fa-search search" aria-hidden="true"></i></a>

                    <br>
                    <br>
                    <span>{{place.goal}}</span>
                    <br>
                    <div *ngIf="userIsAuthenticated">
                    <a class="abutton" *ngIf="!ifUserSaveThisPlace(place.id)" (click)="onSavePlaceClicked(place)" aria-hidden="true"><i class="fa fa-star-o save" aria-hidden="true"></i></a>
                    <a class="abutton" *ngIf="ifUserSaveThisPlace(place.id)" (click)="onUnSavePlaceClicked(place)"><i class="fa fa-star unsave" aria-hidden="true"></i></a>
                    <br>
                    <br>
                    <span><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> {{place.count_of_place_likes}}  </span>
                    <span><i class="fa fa-thumbs-o-down" aria-hidden="true"></i> {{place.count_of_place_unlikes}}</span>
                  </div>
                </div>
            </div>
            </div>
          <!-- </div> -->
          </td>
      </tr>
      <tr *ngIf="userIsAuthenticated && userId === place.creator">
        <td>
          <button mat-button color="warn" (click)="onDelete(place.id)">DELETE</button>
        </td>
      </tr>
      </ng-container>
    </table>
</div>

</mat-accordion>
<!-- <mat-paginator [length]="totalPlaces" [pageSize]="placesPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)"
  *ngIf="places.length > 0"></mat-paginator> -->
<!-- <p class="info-text mat-body-1" *ngIf="places.length <= 0 && !isLoading">No Places added yet!</p> -->






<!-- ///////////////////////////////////////////////////////////// -->
  <!-- <div class="row">
    <div *ngFor="let place of places">
     <div class="column">
      <div class="card">
        <div id="qr" style="display:inline-block; min-width:5.3cm; height:3.8cm; align: center;vertical-align: middle;" >
          <img src="{{place.photo}}"
          style ="border-radius: 20px;height: 145px;width:180px; -webkit-filter: drop-shadow(5px 5px 5px #222);">
          </div>
          <br>
          <br>
          <div style="display:inline-block; vertical-align:top;">
            <strong>{{place.name}}</strong>

      </div>
    </div>
    </div>
  </div>
  </div> -->

</body>
</html>