mat-form-field,
textarea {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}

.abutton {
  display: block;
  width: 300px;
  height: 30px;
  background: #4E9CAF;
  padding: 4px;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: medium;
}
