<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
<form [formGroup] ="routeCreateForm" (submit)="onSaveRoute()" *ngIf="!isLoading">

  <label>Route Name : </label>
  <input type="text" formControlName="name" placeholder="Route name">
  <mat-error *ngIf="routeCreateForm.get('name').invalid">Please enter a route title.</mat-error>

  <div formArrayName="places">
  <div *ngFor="let place of places.controls; let i=index">
    <label>Place {{ i + 1 }} </label>
    <!-- <input type="text" [formControlName]="i" placeholder="place {{ i + 1 }}"> -->
    <select [formControlName]="i">
      <option *ngFor="let place of placesList" [value]="'name:' + place.name + ',lat:' + place.lat + ',lng:' + place.lng">
        {{ place.name }}
      </option>
    </select>
  </div>
  <a class="abutton" (click)="addNewPlace()">Add New Place</a>
  </div>
  <br>

  <!-- <option *ngFor="let place of placesList" [value]="'name,' + place.name + ',lat,' + place.lat + ',lng,' + place.lng"> -->


  <!-- <label>Rate : </label>
  <input type="text" formControlName="rating" placeholder="Route time" >
  <mat-error *ngIf="routeCreateForm.get('rating').invalid">Please enter a route rate.</mat-error>
  <br> -->
  <br>

  <button type="submit">Save Route</button>
</form>
</mat-card>
