<h1>User Page</h1>

<span>User Deatils:</span>
<br>
<span>email: {{ user.email }}</span>
<br>
<span>first name: {{ user.firstName }}</span>
<br>
<span>last name: {{ user.lastName }}</span>
<br>
<span>age: {{ user.age }}</span>
<br>
<span>gender: {{ user.gender }}</span>
<br>
<span>sport: {{ user.sport }}</span>
<br>
<span>culture: {{ user.culture }}</span>
<br>
<span>food: {{ user.food }}</span>
<br>
<span>liked_place: {{ user.liked_place }}</span>

    <!-- Map -->
    <!-- <div *ngIf="splitArray(user.liked_place)">
      <agm-map [latitude]="latitude" [zoom]="zoom" [longitude]="longitude">
        <div *ngFor="let marker of userPlacesArray">
          <agm-marker *ngIf="checkPlace(marker)"
          [latitude]="place.lat"
          [longitude]="place.lng"
          (markerClick)="clickedMarker(infoWindow)">
            <agm-info-window #infoWindow>
              {{ place.name }}
            </agm-info-window>
          </agm-marker>
      </div>
    </agm-map>
    </div> -->


