<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onSavePost()" *ngIf="!isLoading">
    <mat-form-field>
      <input matInput type="text" formControlName="title" placeholder="Post Title">
      <mat-error *ngIf="form.get('title').invalid">Please enter a post title.</mat-error>
    </mat-form-field>
    <p></p>

    <div>
      <button mat-stroked-button type="button" (click)="filePicker.click()">Pick Image</button>
      <input type="file" #filePicker (change)="onImagePicked($event)">
      <p></p>
      <p></p>
    </div>

    <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
      <img [src]="imagePreview" [alt]="form.value.title">
    </div>


    <p>
    <mat-form-field>
      <mat-label>Select Attraction</mat-label>
      <mat-select formControlName="place">
        <mat-option *ngFor="let place of places" [value]="place.name">
          {{ place.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </p>

<p>
    <mat-form-field>
      <mat-label>Select Your Rate Of Attraction</mat-label>
      <mat-select formControlName="rating">
        <mat-option *ngFor="let rate of rates" [value]="rate.value">
          {{rate.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </p>

    <mat-form-field>
      <textarea matInput rows="4" formControlName="content" placeholder="Post Content"></textarea>
      <mat-error *ngIf="form.get('content').invalid">Please enter a post context.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" formControlName="time_of_place" placeholder="Enter the time you had been in the place">
      <mat-error *ngIf="form.get('time_of_place').invalid">Please enter the time to be in the place.</mat-error>
    </mat-form-field>

    <!-- <mat-form-field>
      <input matInput type="text" formControlName="purpose_of_place" placeholder="Enter the purpose of place">
      <mat-error *ngIf="form.get('purpose_of_place').invalid">Please enter purpose of place.</mat-error>
    </mat-form-field> -->

    <p>
      <mat-form-field>
        <mat-label>Select The Purpose Of The Attraction</mat-label>
        <mat-select formControlName="purpose_of_place">
          <mat-option *ngFor="let p of purpose" [value]="p.value">
            {{p.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </p>

    <button mat-raised-button color="accent" type="submit">Save Review</button>
  </form>
</mat-card>
