<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onSavePlace()" *ngIf="!isLoading">
    <mat-form-field>
      <input matInput type="text" formControlName="name" placeholder="Place Name" maxlength=14>
      <mat-error *ngIf="form.get('name').invalid">Please enter a place name.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="text" formControlName="lat" placeholder="Place Latitude">
      <mat-error *ngIf="form.get('lat').invalid">Please enter a place latitiude.</mat-error>
    </mat-form-field>


    <mat-form-field>
      <input matInput type="text" formControlName="lng" placeholder="Place Longitude">
      <mat-error *ngIf="form.get('lng').invalid">Please enter a place Longitude.</mat-error>
    </mat-form-field>

    <!-- <mat-form-field>
      <input matInput type="text" formControlName="goal" placeholder="Post place">
      <mat-error *ngIf="form.get('goal').invalid">Please enter a post place.</mat-error>
    </mat-form-field> -->

    <p>
      <mat-form-field>
        <mat-label>Select Goal</mat-label>
        <mat-select formControlName="goal">
          <mat-option *ngFor="let temp of goals" [value]="temp">{{ temp }}</mat-option>
        </mat-select>
      </mat-form-field>
    </p>

    <agm-map [latitude]="lat" [zoom]="zoom" [longitude]="lng" (mapClick)="placeMarker($event)">
    </agm-map>

    <button mat-raised-button color="accent" type="submit">Save Place</button>
  </form>
</mat-card>
